.card{
	background: $color-light;
	width: 30%;
	max-width: 30%;
	margin-right: $margin-horizontal-percentage;
	margin-bottom: $margin-horizontal;
	display: inline-block;
	border-radius: $border-radius-global;

	@include desktop{
		&:nth-of-type(3n+3){
			margin-right: 0;
		}
	}

	@include tablet{
		min-width: 47%;

		&:nth-of-type(2n+2){
			margin-right: 0;
		}
	}

	@include mobile{
		min-width: 100%;
		margin-right: 0;
	}
}

.card-header{
	background: $color-lightgrey;
	padding: $padding-vertical-small $padding-horizontal;
	border-radius: $border-radius-global $border-radius-global 0 0;
	font-size: .7em;

	/*&.first{
		font-size: 1em;
	}*/
}

.card-content{
	padding: $padding-vertical $padding-horizontal;
}